.App {
  text-align: center;
  align-items: center;
}

.container {
  align-items: center;
  text-align: center;
}

.home-links {
  margin: 5px;
}
a {
  color: white;
}

.att-field{
  size: 10em;
  width: 200px;
}

.attribute-badges{
  display:flex;
}